{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="">

    <section class="bg-gray-50 ">
        <div class="flex flex-col items-center  py-8 mx-auto md:h-screen lg:py-0">
           <p class="flex items-center mb-8 mt-8  text-4xl font-semibold text-gray-900 ">
                Welcome back, We missed you !    
            </p>

                <!-- Display Errors if any -->
                {% if form.username.errors %}
                  <ul class="text-red-600 text-sm mt-1">
                    {% for error in form.username.errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
            
            <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0  ">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1 class="text-xl font-semibold leading-tight tracking-tight text-gray-900 md:text-2xl ">
                        Sign in to your account
                    </h1>

                    <form class="space-y-4 md:space-y-6" action="{% url 'login' %}" method="post">
                      {% csrf_token %}


                        <div class="px-2">
                            <label for="{{ form.username.id_for_label }}" class="block mb-1 text-sm font-medium text-gray-900 ">Your Username</label>
                            <input type="text" id="{{ form.username.id_for_label }}" name="{{ form.username.name }}" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Enter your username" required="">
                        </div>

                        <div class="px-2 mt-1">
                            <label for="{{ form.password.id_for_label }}" class="block mb-1 text-sm font-medium text-gray-900">Password</label>
                            <input type="password" id="{{ form.password.id_for_label }}" name="{{ form.password.name }}" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="••••••••" required="">
                        </div>

                        <div class=" inline float-right" style="margin-top: 0%;">
                            <a href="{% url 'password_reset' %}" class=" text-sm  font-sm text-primary-600 hover:underline ">Forgot password?</a>
                        </div>
                        
                        <input type="hidden" name="next" value="{{ next }}" />
                        <button type="submit" class="w-full text-white bg-gray-800 hover:bg-gray-700 hover:duration-100 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">Sign in</button>

                        <div class="inline-flex items-center justify-center w-full">
                            <hr class="mb-6 w-64 h-px my-2 bg-gray-200 border-0 ">
                            <span class="mb-6 absolute px-3 font-medium text-gray-900 -translate-x-1/2 bg-white left-1/2 ">or</span>
                        </div>
                        <div class="inline">
                            <a href="{% url 'social:begin' 'google-oauth2' %}">
                            <button type="button" class="w-full text-gray-900 bg-white  hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-md px-5 py-2.5 text-center inline-flex items-center justify-center me-2 mb-1">
                                <img class="mr-4" src="{% static 'images/google.svg' %}" />
                                Sign in with Google
                                </button>
                            </a>
                        </div>
                        <div class="inline">
                            <a href="{% url 'social:begin' 'facebook' %}">
                                <button type="button" class="w-full text-gray-900 bg-white  hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-md px-5 py-2.5 text-center inline-flex items-center justify-center me-2 mb-1">
                                    <img class="mx-3"  src="{% static 'images/facebook.svg' %}" />
                                            Sign in with Facebook
                                </button>
                            </a>
                        <div>                     

                        <p class="mt-4 text-sm font-light text-gray-500 ">
                            Don’t have an account yet? <a href="{% url 'register' %}" class="font-medium text-primary-600 hover:underline ">Sign up</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
      </section>
</div>

{% endblock %}
