<!-- Navbar -->
<nav class=" border-gray-200 bg-gray-800 z-50">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
      {% if request.user.is_authenticated %}
      <a href="{% url 'pdfapp:pdf_list' %}" class="flex items-center space-x-3  ">
        <span class="self-center text-3xl font-semibold whitespace-nowrap text-[#9fd3ff]">Cellulo</span>
    </a>
    {% else %}
    <a href="{% url 'pdfapp:upload_pdf' %}" class="flex items-center space-x-3  ">
      <span class="self-center text-3xl font-semibold whitespace-nowrap text-[#9fd3ff]">Cellulo</span>
    {% endif %}

    <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
   {% if request.user.is_authenticated %}
      
   <button id="dropdownAvatarNameButton" data-dropdown-toggle="dropdownAvatarName" class="flex items-center text-sm pe-1 font-medium rounded-full hover:text-blue-500  md:me-0 focus:ring-4 focus:ring-gray-700 text-white" type="button">
    <span class="sr-only">Open user menu</span>
    <img class="w-8 h-8 me-2 rounded-full" src="https://static.vecteezy.com/system/resources/thumbnails/005/545/335/small/user-sign-icon-person-symbol-human-avatar-isolated-on-white-backogrund-vector.jpg" alt="user photo">
    {{request.user.first_name}}
    <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
    </svg>
    </button>
    {% else %}
    <a href="{% url 'login' %}">
    <button type="button" class="text-white  focus:outline-none focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 bg-gray-800 hover:bg-gray-700 focus:ring-gray-700 border-gray-700">
     Log-in
    </button>  
     </a>

{% endif %}

<!-- Dropdown menu of navbar-->
<div id="dropdownAvatarName" class="z-10 hidden  divide-y rounded-lg shadow w-44 bg-gray-700 divide-gray-600">
    <div class="px-4 py-3 text-sm text-white">
      <div class="font-medium ">{{ request.user.first_name}}{{request.user.last_name}}</div>
      <div class="truncate">{{request.user.username}}</div>
    </div>
    <ul class="py-2 text-sm text-gray-200" aria-labelledby="dropdownInformdropdownAvatarNameButtonationButton">
      <li>
        <a href="{% url 'dashboard' %}" class="block px-4 py-2 hover:bg-gray-600 hover:text-white">Profile</a>
      </li>
      <li>
        <a href="#" class="block px-4 py-2 hover:bg-gray-600 hover:text-white">Settings</a>
      </li>
      <li>
        <a href="#" class="block px-4 py-2 hover:bg-gray-600 hover:text-white">Feedback</a>
      </li>
    </ul>
    <div class="py-2">
      <a href="{% url 'logout' %}" class="block px-4 py-2 text-sm hover:bg-gray-600 text-gray-200 hover:text-white">Sign out</a>
    </div>
</div>

    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
      <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border  rounded-lg  md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 bg-gray-800 border-gray-700">
        <li>
          {% if request.user.is_authenticated %}
          <a href="{% url 'pdfapp:pdf_list' %}" class="block py-2 px-3  rounded md:p-0 text-white md:hover:text-blue-500 hover:bg-gray-700 hover:text-white md:hover:bg-transparent border-gray-700 ">Home</a>
        {% else %}
        <a href="{% url 'pdfapp:upload_pdf' %}" class="block py-2 px-3  rounded md:p-0 text-white md:hover:text-blue-500 hover:bg-gray-700 hover:text-white md:hover:bg-transparent border-gray-700 ">Home</a>
        {% endif %}
        </li>
        <li>
          <a href="{% url 'payment:create_order' %}" class="block py-2 px-3  rounded  md:p-0 text-white md:hover:text-blue-500 hover:bg-gray-700 hover:text-white md:hover:bg-transparent border-gray-700">Pricing</a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3  rounded  md:p-0 text-white md:hover:text-blue-500 hover:bg-gray-700 hover:text-white md:hover:bg-transparent border-gray-700">About Us</a>
        </li>

      </ul>
    </div>
    </div>
</nav>




