{% extends 'base.html' %}
{% load static %}

{% block title %} PDF List {% endblock %}

{% block content %}
    <style>
        @keyframes move-along-border {
           0% { top: -1rem; left: -1rem; }
           100% { top: -1rem; left: calc(100% + 1rem); transform: translateX(-100%); }
       }   
       .animate-border {
           animation: move-along-border 3s linear forwards ;
       }
   </style>
  <style>
        .hide-scroll-bar::-webkit-scrollbar {
            display: none;
        }

        .hide-scroll-bar {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }
    </style>
</head>


<div class="overflow-x-hidden h-full">

<div class="w-screen flex flex-row">
    <!-- Sidebar -->
    <div class=" w-64  bg-gray-100 z-10">
        <button data-drawer-target="sidebar-multi-level-sidebar" data-drawer-toggle="sidebar-multi-level-sidebar" aria-controls="sidebar-multi-level-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 text-sm  rounded-lg sm:hidden  focus:outline-none focus:ring-2  text-gray-400  hover:bg-gray-700  focus:ring-gray-600">
            <span class="sr-only">Open sidebar</span>
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
                </svg>
                </button>
        <aside id="sidebar-multi-level-sidebar" class="h-full px-3 py-4 overflow-y-auto bg-gray-100">
            <ul class="space-y-4 font-medium">
                <li>
                    <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group">
                        <span class="ms-3">Currently Streaming</span>
                    </a>
                    <p class="ml-12 text-sm font-medium"> <div class="flex justify-start ml-8 gap-4 ">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" viewBox="0 0 24 24"><path fill="none" stroke="#4f4f4f" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M21 5L2 12.5l7 1M21 5l-2.5 15L9 13.5M21 5L9 13.5m0 0V19l3.249-3.277"/></svg>
                        {{streaming_pdf.name}}</p>
                    </div>
                </li>
                {% for collection in collections %}
                <li>
                    <button type="button" class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100" aria-controls="dropdown{{collection.id}}" data-collapse-toggle="dropdown{{collection.id}}">
                        <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">{{collection.name}}</span>
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                         </svg>
                     </button>
                    <ul id="dropdown{{collection.id}}" class="hidden py-2 space-y-2">
                        {% for pdf in collection.pdfs %}
                        <li>
                            <a href="{% url 'Pdf.pdf_file.url' %}" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100">pdf.name</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}

            </ul>
        </aside>
    </div>
    <!-- Main content -->
    <div class=" flex-grow h-screen overflow-scroll hide-scroll-bar justify-center flex flex-col">
        <!-- Active PDF -->
        <div class="mt-8 flex flex-row justify-center">
            <div class="flex flex-col w-2/3 relative bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 hover:duration-200 shrink-0">
                <div class="absolute text-blue-500 animate-border flex items-center justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 256 256"><defs><linearGradient id="logosTelegram0" x1="50%" x2="50%" y1="0%" y2="100%"><stop offset="0%" stop-color="#2aabee"/><stop offset="100%" stop-color="#229ed9"/></linearGradient></defs>
                        <path fill="url(#logosTelegram0)" d="M128 0C94.06 0 61.48 13.494 37.5 37.49A128.04 128.04 0 0 0 0 128c0 33.934 13.5 66.514 37.5 90.51C61.48 242.506 94.06 256 128 256s66.52-13.494 90.5-37.49c24-23.996 37.5-56.576 37.5-90.51s-13.5-66.514-37.5-90.51C194.52 13.494 161.94 0 128 0"/>
                        <path fill="#fff" d="M57.94 126.648q55.98-24.384 74.64-32.152c35.56-14.786 42.94-17.354 47.76-17.441c1.06-.017 3.42.245 4.96 1.49c1.28 1.05 1.64 2.47 1.82 3.467c.16.996.38 3.266.2 5.038c-1.92 20.24-10.26 69.356-14.5 92.026c-1.78 9.592-5.32 12.808-8.74 13.122c-7.44.684-13.08-4.912-20.28-9.63c-11.26-7.386-17.62-11.982-28.56-19.188c-12.64-8.328-4.44-12.906 2.76-20.386c1.88-1.958 34.64-31.748 35.26-34.45c.08-.338.16-1.598-.6-2.262c-.74-.666-1.84-.438-2.64-.258c-1.14.256-19.12 12.152-54 35.686c-5.1 3.508-9.72 5.218-13.88 5.128c-4.56-.098-13.36-2.584-19.9-4.708c-8-2.606-14.38-3.984-13.82-8.41c.28-2.304 3.46-4.662 9.52-7.072"/>
                        </svg>                        
                </div>
                <a href="{% url 'streaming_pdf.pdf_file.url'%}">
                    <img class="object-cover w-full rounded-t-lg h-64 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="./img2.png" alt="">
                </a>
                <div class="flex flex-col justify-between p-4 relative w-full">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 text-center mt-8">{{streaming_pdf.name}}</h5>
                    <div class="w-4/5 bg-gray-200 rounded-full ml-8 mb-10">
                        <div class="bg-gray-700 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style=`width: {{streaming_pdf.progress}}%`> {{streaming_pdf.progress}}%</div>
                    </div>
                    <div  class="absolute bottom-2 right-1 group">
                        <div id="dropdown{{streaming_pdf.id}}" class="z-20 w-32 flex flex-col justify-end hidden py-1 mb-4  border  rounded-lg shadow-sm border-gray-600 bg-gray-700">
                            <ul class="text-sm   text-gray-300">
                                <li>
                                    <a href="#" class="flex items-center px-5 py-2  hover:bg-gray-600  hover:text-white">
                                    
                                        <span class="text-sm font-medium">Stop Streaming</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="flex items-center px-5 py-2 hover:bg-gray-600  hover:text-white">
                                    
                                        <span class="text-sm font-medium">Open PDF</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="flex items-center px-5 py-2 hover:bg-gray-600  hover:text-white">
                    
                                        <span class="text-sm font-medium">Edit</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="flex items-center px-5 py-2 hover:bg-gray-600  hover:text-white">
                                    
                                        <span class="text-sm font-medium">Delete</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <button type="button" id="dropdownDefaultButton{{streaming_pdf.id}}" data-dropdown-toggle="dropdown{{streaming_pdf.id}}"  aria-expanded="false" class="flex items-center justify-center ml-auto text-white p-2 rounded-full hover:bg-gray-300 hover:duration-100 focus:ring-4 focus:ring-blue-300 focus:outline-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 1024 1024"><path fill="#4b4b4b" d="M456 231a56 56 0 1 0 112 0a56 56 0 1 0-112 0m0 280a56 56 0 1 0 112 0a56 56 0 1 0-112 0m0 280a56 56 0 1 0 112 0a56 56 0 1 0-112 0"/></svg>
                            <span class="sr-only">Open actions menu</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Collections -->
        <div class="w-full flex flex-col gap-12 justify-center mt-16 mb-8">
            {% for collection in collections %}

            <div class="relative w-5/6 flex flex-col bg-white m-auto px-8 border border-gray-300 rounded-lg shadow">
                <div class="absolute right-12 top-2">
                    <input class="hidden" id="Upload" type="file">
                    <label for="Upload">
                        <div class="hover:bg-gray-200 hover:duration-300 hover:cursor-pointer w-fit rounded-full p-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24"><path fill="#4f4f4f" d="M11 16V7.85l-2.6 2.6L7 9l5-5l5 5l-1.4 1.45l-2.6-2.6V16zm-5 4q-.825 0-1.412-.587T4 18v-3h2v3h12v-3h2v3q0 .825-.587 1.413T18 20z"/></svg>
                        </div>
                    </label>
                </div>
                <div class="absolute right-2 top-3">
                    <div class="w-10 h-10 hover:bg-gray-300 hover:duration-300 rounded-full p-1.5">
                        <button id="dropdownMenuIconButton{{collection.id}}" data-dropdown-toggle="dropdownDots{{collection.id}}" class="inline-flex items-center text-sm font-medium text-center text-gray-900 bg-transparent rounded-lg" type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1.75rem" height="1.75rem" viewBox="0 0 24 24"><g fill="none"><path d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/><path fill="#4b4b4b" d="M12 17a2 2 0 1 1 0 4a2 2 0 0 1 0-4m0-7a2 2 0 1 1 0 4a2 2 0 0 1 0-4m0-7a2 2 0 1 1 0 4a2 2 0 0 1 0-4"/></g></svg>                                 
                        </button>
                    </div>
                    <!-- Dropdown menu -->
                    <div id="dropdownDots{{collection.id}}" class="z-10 hidden rounded-lg shadow w-32 bg-gray-700 divide-gray-600">
                        <ul class="py-2 text-sm   text-gray-200" aria-labelledby="dropdownMenuIconButton">
                            <li>
                                <a href="#" class="block px-4 py-2 hover:bg-gray-600  hover:text-white">Rename</a>
                            </li>
                            <li>
                                <a href="#" class="block px-4 py-2 hover:bg-gray-600  hover:text-white">Delete collection</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <h1 class="flex justify-center mb-8 mt-4 font-bold text-4xl text-gray-800 text-center">
                    {{collection.name}}
                </h1>
                <div class="flex overflow-x-scroll pb-10 hide-scroll-bar">
                    <div class="flex flex-nowrap">
                        {% for pdf in collection.pdfs %}
                        <div class="inline-block px-3">
                            <div class="w-56 border border-gray-200 overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
                                <!-- thumbnail of pdf  -->
                                <a href="" class="flex justify-center">
                                    <img class="rounded-t-lg w-44" src="./img2.png" alt="">
                                </a>
                                <div class="p-5 relative">
                                    <a href="{% url 'pdf.pdf_file.url' %}">
                                        <h5 class="text-center text-lg font-semibold text-gray-900">{{pdf.name}}</h5>
                                    </a>
                                    <div data-dial-init class="absolute bottom-2 right-1 group">
                                        <div id="dropdown{{pdf.id}}"  class=" w-32 flex flex-col justify-end hidden py-1 mb-4  border rounded-lg shadow-sm  border-gray-600  bg-gray-700">
                                            <ul class="text-sm  text-gray-300">
                                                <li>
                                                    <a href="#" class="flex items-center px-5 py-2  hover:bg-gray-600   hover:text-white">
                                                    
                                                        <span class="text-sm font-medium">Stream on Telegram</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="flex items-center px-5 py-2   hover:bg-gray-600   hover:text-white">
                                                    
                                                        <span class="text-sm font-medium">Open PDF</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="flex items-center px-5 py-2   hover:bg-gray-600   hover:text-white">
                                    
                                                        <span class="text-sm font-medium">Edit</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="flex items-center px-5 py-2   hover:bg-gray-600   hover:text-white">
                                                    
                                                        <span class="text-sm font-medium">Delete</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <button type="button"  id="dropdownDefaultButton{{pdf.id}}" data-dropdown-toggle="dropdown{{pdf.id}}"  aria-expanded="false" class="flex items-center justify-center ml-auto text-white p-2 rounded-full hover:bg-gray-300 hover:duration-100 focus:ring-4 focus:ring-blue-300 focus:outline-none">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 1024 1024"><path fill="#4b4b4b" d="M456 231a56 56 0 1 0 112 0a56 56 0 1 0-112 0m0 280a56 56 0 1 0 112 0a56 56 0 1 0-112 0m0 280a56 56 0 1 0 112 0a56 56 0 1 0-112 0"/></svg>
                                            <span class="sr-only">Open actions menu</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                     
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
        <div class="flex flex-row justify-center mb-8">
            <button data-tooltip-target="tooltip-default">
                <div class=" rounded-full w-fit p-4 hover:bg-gray-200 hover:duration-300">
                    <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24"><g fill="none"><path d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/><path fill="#4f4f4f" d="M11 20a1 1 0 1 0 2 0v-7h7a1 1 0 1 0 0-2h-7V4a1 1 0 1 0-2 0v7H4a1 1 0 1 0 0 2h7z"/></g></svg>
                </div>
            </button>
            <div id="tooltip-default" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300  rounded-lg shadow-sm opacity-0 tooltip  bg-gray-700">
               Add Collection
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
         </div>
    </div>

</div>


</div>

{% endblock %}