  <div class="absolute rounded-md h-[95%] w-[85%] z-0 hide-scroll-bar overflow-scroll ml-8  ">
      <div class=" rounded-md " id="drawingContainer">    
        <div data-url="{{pdf.url}}" img-url="#" id="drawingDiv" class="h-fit w-fit rounded-md"></div>
      </div> 
  </div>
  <div class="absolute w-full bottom-0">

      <div class="w-full h-16 bg-white  z-10">
          <div class="flex h-full w-full justify-between ">
                  <div class="flex align-middle h-full hover:bg-gray-200 hover:duration-200 ">
                      <button type="button" data-tooltip-target="tooltip-page" class=" justify-center px-5   group" data-drawer-target="drawer-navigation" data-drawer-show="drawer-navigation" aria-controls="drawer-navigation">
                        <img class="group-hover:text-blue-600" src="{% static 'images/pageDrawer.svg' %}" />  
                      </button>
                      <div id="tooltip-page" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-800 rounded-lg shadow-sm opacity-0 tooltip ">
                         Pages
                      <div class="tooltip-arrow" data-popper-arrow></div>
                  </div>
                  </div>
                  <div class="flex items-center justify-center ">
                      <div class="flex items-center justify-between w-full text-gray-600 bg-gray-100 rounded-lg  max-w-[128px] mx-2">
                        {% if page.order > 1 %}
                        <a href="{% url 'cellapp:previous_page' pdf.id page.order %}">
                        <button type="button" class="inline-flex items-center justify-center h-8 px-1 w-6 bg-gray-100 rounded-s-lg  hover:bg-gray-200  focus:outline-none focus:ring-2 focus:ring-gray-200 ">
                            <img src="{% static 'images/prevPage.svg' %}" />
                              <span class="sr-only">Previous page</span>
                          </button>
                          </a>
                     {% endif %}
                          <span class="flex-shrink-0 mx-1 text-sm font-medium space-x-0.5 rtl:space-x-reverse"> {{ page.order }} of {{ pdf.page_count }} </span>
                          {% if page.order < pdf.page_count %}
                          <a href="{% url 'cellapp:next_page' pdf.id page.order %}">
                          <button type="button" class="inline-flex items-center justify-center h-8 px-1 w-6 bg-gray-100 rounded-e-lg hover:bg-gray-200  focus:outline-none focus:ring-2 focus:ring-gray-200 ">
                            <img src="{% static 'images/nextPage.svg' %}" />
                              <span class="sr-only">Next page</span>
                          </button>
                          </a>
                    {% endif %} 
                      </div>
                  </div>
                  <div class="flex align-middle h-full my-auto hover:bg-gray-200 hover:duration-200 ">
                  <button  id="drawRectButton" type="button" data-tooltip-target="tooltip-select" class=" justify-center px-5 group" >
                    <img src="{% static 'images/draw.svg' %}" />
                </button>
                  <div id="tooltip-select" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-800 rounded-lg shadow-sm opacity-0 tooltip ">
                      Select in Page
                      <div class="tooltip-arrow" data-popper-arrow></div>
                  </div>
              </div>
              </div>
      </div>
  </div>

  
