{% extends 'base.html' %}
{% load static %}


{% block content %}
<style>
    .hide-scroll-bar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
    .hide-scroll-bar::-webkit-scrollbar {
      display: none;
    }
    </style> 

<body class="bg-[#fffdfd] h-screen">

<!-- the main panels layout div-->
<div  style="width: 100%;" class=" flex flex-row z-0 hide-scroll-bar h-[88vh]" >

    <div id="left" class="relative w-[33%] h-full pt-2" >
        {% include 'pdf_preview.html' %}
    </div>
    <div id="resizer" class="w-1  cursor-ew-resize bg-gray-300"></div>
    <div id="right" class="hide-scroll-bar w-[65%] overflow-scroll h-full" >
        {% include 'feed.html' %}
    </div>

</div>


<!-- drawer component -->
<div id="drawer-navigation" class="fixed top-0 left-0 z-40 h-screen p-4 overflow-y-auto transition-transform -translate-x-full  w-96 bg-gray-800" tabindex="-1" aria-labelledby="drawer-navigation-label">
  <h5 id="drawer-navigation-label" class="text-base font-semibold  uppercase text-gray-400">Pages</h5>
  <button type="button" data-drawer-hide="drawer-navigation" aria-controls="drawer-navigation" class="text-gray-400 bg-transparent rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 inline-flex items-center justify-center hover:bg-gray-600 hover:text-white" >
    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
       <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
    </svg>
    <span class="sr-only">Close menu</span>
 </button>
    <div class="py-4 overflow-y-auto">
        content
    </div>
</div>


<script src="{% static 'js/click.js' %}"></script>
<script src="{% static 'js/resize.js' %}"></script>
<script src="{% static 'js/read_aloud.js' %}"></script>
<!-- <script src="{% static 'js/fabric.js' %}"></script>  -->


{% endblock %}