{% extends 'base.html' %}
{% load static %}


{% block content %}
<style>
    .hide-scroll-bar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
    .hide-scroll-bar::-webkit-scrollbar {
      display: none;
    }
    </style> 

<body class="bg-[#fffdfd] h-screen">

<!-- the main panels layout div-->
<div  style="width: 100%;" class=" flex flex-row z-0 hide-scroll-bar h-[88vh]" >

    <div id="left" class="relative w-[33%] h-full pt-2" >
        {% include './pdf_preview.html' %}
    </div>
    <div id="resizer" class="w-1  cursor-ew-resize bg-gray-300"></div>
    <div id="right" class="hide-scroll-bar w-[65%] overflow-scroll h-full" >
        {% include './feed.html' %}
    </div>

</div>


<!-- drawer component -->
<div id="drawer-navigation" class="fixed top-0 left-0 z-40 h-screen p-6 overflow-y-auto transition-transform -translate-x-full hide-scroll-bar w-96 bg-gray-800" tabindex="-1" aria-labelledby="drawer-navigation-label">
  <h5 id="drawer-navigation-label" class="text-lg text-center font-semibold  uppercase text-gray-400">Pages</h5>
  <button type="button" data-drawer-hide="drawer-navigation" aria-controls="drawer-navigation" class="text-gray-400 bg-transparent rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 inline-flex items-center justify-center " >
    <img src="{% static 'images/close.svg' %}" />
    <span class="sr-only">Close menu</span>
 </button>
    <div class="py-4 overflow-y-auto mt-4 text-white text-center">
      <div data-id="{{pdf.id}}" id="pageList" class="w-full grid grid-cols-2 gap-4 ">
        
      </div>
    </div>
</div>

<!-- clipboard toast -->
<div id="copyToast" style="display: none;">
  <div  class="fixed flex items-center w-full max-w-[18%] p-4 space-x-4  divide-x rtl:divide-x-reverse  rounded-lg shadow right-5 bottom-10 text-white divide-gray-700 bg-gray-800" role="alert">
    <img class="w-5 h-5 text-blue-500" src="{% static 'images/copy.svg' %}" />
    <div class="ps-4 text-sm font-normal"> Cell copied to clipboard !</div>
  </div>
</div>


<script src="{% static 'js/click.js' %}"></script>
<script src="{% static 'js/resize.js' %}"></script>
<script src="{% static 'js/read_aloud.js' %}"></script>
<script src="{% static 'js/pdfRender.js' %}"></script>
<script src="{% static 'js/getpages.js' %}"></script>

<!-- <script src="{% static 'js/fabric.js' %}"></script>  -->


{% endblock %}
