{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div >
        <div>
            <h4 class="text-center text-3xl font-semibold mt-6">
                Stream your pdf files as cells
            </h4>
        </div>
        <div class="flex items-center justify-center w-full mt-12 mb-24 px-8">
        <button data-modal-target="crud-modal" data-modal-toggle="crud-modal" class="flex flex-col items-center justify-center w-[90%] h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-100  hover:bg-gray-200">
            <div class="flex flex-col items-center justify-center pt-5 pb-6">
                <img class="w-8 h-8 mb-2 mr-2 text-gray-800 " src="{% static 'images/upload-3.svg' %}" />
                <div class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">Upload</div>         
                       <p class="mb-2 text-md text-gray-800 font-semibold"><span class="font-semibold"></span>Upload any pdf file</p>
            </div>
            <input id="dropzone-file" type="file" class="hidden" />
        </button>



  
  <!-- Main modal -->
  <div id="crud-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative p-4 w-full max-w-md max-h-full">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow">
              <!-- Modal header -->
              <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t ">
                  <h3 class="text-lg font-semibold text-gray-900 ">
                      Upload a file
                  </h3>
                  <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center " data-modal-toggle="crud-modal">
                    <img src="{% static 'images/close.svg' %}" />
                      <span class="sr-only">Close modal</span>
                  </button>
              </div>
              <!-- Modal body -->
              <form class="p-4 md:p-5">
                  <div class="grid gap-4 mb-4 grid-cols-2">
                      <div class="col-span-2">
                          <label for="name" class="block mb-2 text-sm font-medium text-gray-900 ">Name of Pdf</label>
                          <input type="text" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "  required="">
                      </div>
                      <div class="col-span-2">
                        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 ">Collection Name</label>
                        <input type="text" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "  required="">
                    </div>
                      <div class="col-span-2">
                        <label class="block mb-2 text-sm font-medium text-gray-900 " for="file_input">Browse file</label>
                        <input class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none " id="file_input" type="file">
                      </div>
                  </div>
                  <div class="flex flex-row justify-center">
                  <button type="submit" class="mt-6 text-white inline-flex items-center bg-gray-800 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">
                    <img class="me-1 -ms-1 w-5 h-5" src="{% static 'images/add.svg' %}" />  
                      Add 
                  </button>
                </div>
              </form>
          </div>
      </div>
  </div> 
  
    </div> 

    <div class="flex flex-row justify-center px-36">

        <ol class="items-center sm:flex">
            <li class="relative mb-6 sm:mb-0">
                <div class="flex items-center">
                    <div class="z-10 flex items-center justify-center w-10 h-10 bg-blue-100 rounded-full ring-2 shrink-0">
                        <img class="text-gray-800" src="{% static 'images/upload-2.svg' %}" />
                     </div>
                    <div class="hidden sm:flex w-full h-0.5 bg-gray-700"></div>
                </div>
                <div class="mt-2 pt-4 sm:pe-8">
                    <p class="text-lg font-semibold text-gray-900 text-center pl-12">Upload any pdf file <br>or try it out from our <a style="hover{cursor: pointer;}" data-modal-target="select-modal" data-modal-toggle="select-modal" class=" underline">collection</a> of books.</p>
                </div>
            </li>
            <li class="relative mb-6 sm:mb-0">
                <div class="flex items-center">
                    <div class="z-10 flex items-center justify-center w-10 h-10 bg-blue-100 rounded-full ring-2 shrink-0 ">
                        <img class="text-gray-800" src="{% static 'images/book.svg' %}" />
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" viewBox="0 0 512 512"><path fill="none" stroke="#000040" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M256 160c16-63.16 76.43-95.41 208-96a15.94 15.94 0 0 1 16 16v288a16 16 0 0 1-16 16c-128 0-177.45 25.81-208 64c-30.37-38-80-64-208-64c-9.88 0-16-8.05-16-17.93V80a15.94 15.94 0 0 1 16-16c131.57.59 192 32.84 208 96m0 0v288"/></svg>          
                    </div>
                    <div class="hidden sm:flex w-full h-0.5 bg-gray-700"></div>
                </div>
                <div class="mt-2 pt-4 sm:pe-8">
                    <p class="text-lg font-semibold text-gray-900 text-center pl-12">Break your overwhelming book into our <br> simplified cells by AI.</p>
                </div>
            </li>
            <li class="relative mb-6 sm:mb-0">
                <div class="flex items-center">
                    <div class="z-10 flex items-center justify-center w-10 h-10 bg-blue-100 rounded-full ring-2 shrink-0 ">
                        <img class="text-gray-800" src="{% static 'images/telegram-2.svg' %}" />
                    </div>
                    <div class="hidden sm:flex w-full h-0.5 bg-gray-700"></div>
                </div>
                <div class="mt-2 pt-4 sm:pe-8">
                    <p class="text-lg font-semibold pt- text-gray-900 text-center pl-12">Stream your cells on<br> Telegram. <br></p>
                </div>
            </li>
        </ol>



  
  <!-- Main modal -->
  <div id="select-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative p-4 w-full max-w-md max-h-full">
          <!-- Modal content -->
          <div class="relative  rounded-lg shadow bg-gray-700"> 
              <!-- Modal header -->
              <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t border-gray-600">
                  <h3 class="text-lg font-semibold  text-white">
                      Sample Books
                  </h3>
                  <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm h-8 w-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="select-modal">
                      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                      </svg>
                      <span class="sr-only">Close modal</span>
                  </button>
              </div>
              <!-- Modal body -->
              <div class="p-4 md:p-5">
                  <ul class="space-y-4 mb-4">
                    {% for pdf in sample_pdfs %} 
                    <li>
                            <!-- link for pdf render  -->
                          <a href="{% url 'pdf.pdf_file.url' %}"> 
                          <div class="inline-flex items-center justify-between w-full p-5  border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-500 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-900  text-white bg-gray-600 hover:bg-gray-500">                           
                              <div class="block">
                                  <div class="w-full text-lg font-semibold">{{pdf.name}} </div>
                                  <div class="w-full text-gray-500 dark:text-gray-400">{{pdf.subject}}</div>
                              </div>
                              <svg class="w-4 h-4 ms-3 rtl:rotate-180 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/></svg>
                            </div>
                        </a>
                      </li>
                    {% endfor %}
                    
                  </ul>

              </div>
          </div>
      </div>
  </div> 
  

    </div>
</div>


{% endblock %}
